:root{
    --farba1: rgb(255, 255, 255);
    --farba2: #333;
    --farba3:  #cdba78;
    --farba4: rgb(210, 207, 207);
    --farba5: #000;
    --farbanavt: #cdba78;
    --farbanav:  #cdba78;
    --txtb: rgb(255,255,255);
    --txtc: #222;
   }